// Student: Evan Bezuidenhout
// Task: 24
// Compulsory Task: 2
// File: style.scss

// ==============================
// Global Styling for body
// ==============================
*{
    padding: 0;
    margin: 0;
    font-family: 'AcuminPro';
    color: #FFFFFF;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@font-face {
    font-family: 'AcuminPro';
    src: url(Font/acumin-pro-cufonfonts/Acumin-BdPro.otf);
}

@font-face{
    font-family: 'AcuminProSlim';
    src: url(Font/acumin-pro-cufonfonts/Acumin-RPro.otf);
}
section{
    background-color: #191919;
    padding-bottom: 5rem;
}
a, p, span{
    font-family: 'AcuminProSlim';
    text-decoration: none;
}

// Global Item Centering Code
@mixin CenteringItems {
    display: flex;
    justify-content: center;
    align-items: center;
} 
@mixin AlignCenter {
    display: flex;
    align-items: center;
} 



// ==========================
// Hero Section Styling Start
// ==========================
#HeroContainer{
    height: 100vh;
    background-image: url("Images/Asset\ 1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: url("Images/Cursor.png"), auto;
}
#LineTopWithText{
    @include AlignCenter();
    padding: 1rem 0rem 0 10rem;
    font-size: 45px;
}
#LineTop{
    height: 4px;
    width: 90%;
    background-color: #FFFFFF;
    margin-right: 0;
    margin-left: auto;
}
#CenterTextContainer{
    height: 84vh;
    @include CenteringItems();
    flex-direction: column;
}
#CenterTextContainer h1{
    font-size: 10rem;
    font-weight: 700;
}
#NavButtons ul{
    @include AlignCenter();
    list-style: none;
}
#NavButtons ul li{
    margin: 0 2rem;
    font-size: 26px;
    text-decoration: none;
}
.LineDivider{
    height: 2.5rem;
    background-color: #FFFFFF;
    width: 1.5px;
}
#LineBottomWithText{
    @include AlignCenter();
    padding: 0rem 10rem 0 0;
}
#LineBottomWithText a{
    margin-right: 0;
    margin-left: auto;
    background-color: #FFFFFF;
    color: #9742D8;
    padding: 0.7rem 1.1rem;
    border-radius: 5rem;
}
#LineBottom{
    height: 4px;
    width: 90%;
    background-color: #FFFFFF;
}
@media (max-width: 640px) {
    #CenterTextContainer h1{
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
    }
    #NavButtons ul li{
        margin: 0 0.7rem;
        font-size: 1rem;
        text-decoration: none;
    }
    .LineDivider{
        height: 1.6rem;
        background-color: #FFFFFF;
        width: 1.5px;
    }
    #LineTopWithText{
        @include AlignCenter();
        padding: 1rem 0rem 0 1rem;
        font-size: 35px;
    }
    #LineTop{
        height: 4px;
        width: 74%;
        background-color: #FFFFFF;
        margin-right: 0;
        margin-left: auto;
    }
    #LineBottomWithText{
        @include AlignCenter();
        padding: 0rem 1rem 0 0;
    }
    #LineBottom{
        height: 4px;
        width: 64%;
        background-color: #FFFFFF;
    }
}
// ========================
// Hero Section Styling End
// ========================



// ==============================
// About Me Section Styling Start
// ==============================
#AboutMeContainer{
    padding: 9rem 0;
}
#AboutMeContainer h1{
    font-size: 6.8rem;
    font-weight: 700;
    text-align: center;
    position: relative;
    margin: 0 0 1.2rem -7rem;
}
#AboutMeLeft{
    float: left;
    display: block;
    width: 50%;
    margin-top: -8.9rem;
}
#AboutMeImage{
    margin-left: auto;
    margin-right: 0;
}
#AboutMeImage img{
    float: right;
    width: 72%;
    position: relative;
}
#txtContainer p{
    width: 60%;
    font-size: 18px;
    padding-left: 1rem;
    line-height: 1.7rem;
    z-index: -1;
}
#AboutMeRight{
    float: right;
    display: block;
    width: 50%;
}
@media (max-width: 640px) {
    #AboutMeContainer{
        padding: 1rem 0;
    }
    #AboutMeContainer h1{
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
        margin: 0;
    }
    #AboutMeLeft{
        display: block;
        width: 100%;
        margin-top: 0rem;
    }
    #AboutMeImage{
        text-align: center;
    }
    #AboutMeImage img{
        float: none;
        width: 80%;
        position: relative;
        margin-bottom: 1.5rem;
    }
    #AboutMeRight{
        display: block;
        width: 100%;
    }
    #txtContainer p{
        width: 100%;
        font-size: 18px;
        padding-left: 0rem;
        line-height: 1.7rem;
        z-index: -1;
    }
    #txtContainer{
        padding: 0 2rem;
    }
}
// ==============================
// About Me Section Styling End
// ==============================



// ============================
// Skills Section Styling Start
// ============================
#SkillsSection{
    padding-bottom: 5rem;
}
#ColorSectionLeft{
    position: absolute;
    z-index: 0;
    float: left;
    margin: -10% -20%;
}
#ColorSectionRight{
    position: absolute;
    z-index: 0;
    float: right;
    margin: 4% 76%;
}
#SkillsContainer{
    padding: 9rem 0;
    position: relative;
    z-index: 1;
}
#SkillsContainer h1{
    font-size: 6.8rem;
    font-weight: 700;
    text-align: center;
    position: relative;
    margin: 0 0 4rem 0;
}
#SkillsListSections{
    @include CenteringItems();
}
#ParagraphOfSkills{
    width: 64%;
}
#Spacer{
    height: 3rem;
    width: 3px;
    background-color: #E1FF01;
    display: inline-block;
    margin: 0 0.7rem 0 0.7rem;
}
// This large snippet of code is to position each of the elements for the skills block as each element needs to be a different size
.afterEffects{font-size: 4rem;}
.wordpress{font-size: 3.8rem;}
.unity3d{font-size: 3.5rem;}
.blender{font-size: 3rem;}
.microsoft{font-size: 3.2rem;}
.language{font-size: 3.5rem; font-weight: 400;}
.gitLab{font-size: 3rem;}
.vSCode{font-size: 3.3rem;}
.photoshop{font-size: 2.5rem;}
.Animation{font-size: 3rem;}
.windowsServer{font-size: 3.2rem;}
.microsoftAzure{font-size: 3rem;}
.webDesign{font-size: 3rem;}
.illustration{font-size: 2.8rem;}
.adobeXd{font-size: 3.5rem;}

@media (max-width: 640px) {
    #SkillsContainer h1{
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
        position: relative;
        margin: 0 0 4rem 0;
    }
    #ParagraphOfSkills{
        width: 100%;
    }
    #Spacer{
        height: 1.8rem;
        width: 3px;
        background-color: #E1FF01;
        display: inline-block;
        margin: 0 0.7rem 0 0.7rem;
    }
    #SkillsContainer{
        padding: 1rem 2rem;
        position: relative;
        z-index: 1;
    }
    #ColorSectionLeft{
        display: none;
    }
    #ColorSectionRight{
        display: none;
    }
    .afterEffects{font-size: 2rem;}
    .wordpress{font-size: 1.9rem;}
    .unity3d{font-size: 1.75rem;}
    .blender{font-size: 1.5rem;}
    .microsoft{font-size: 1.6rem;}
    .language{font-size: 1.75rem; font-weight: 400;}
    .gitLab{font-size: 1.5rem;}
    .vSCode{font-size: 1.65rem;}
    .photoshop{font-size: 1.25rem;}
    .Animation{font-size: 1.5rem;}
    .windowsServer{font-size: 1.6rem;}
    .microsoftAzure{font-size: 1.5rem;}
    .webDesign{font-size: 1.5rem;}
    .illustration{font-size: 1.4rem;}
    .adobeXd{font-size: 1.75rem;}
}
// ============================
// Skills Section Styling Start
// ============================



// ================================
// Experience Section Styling Start
// ================================
#ExperienceHeader{
    text-align: center;
    padding: 1.5rem 0;
    background-image: url("Images/Asset\ 1.png");
    background-position: center;
    background-repeat: none;
    background-size: cover;
}
#ExperienceHeader h1{
    font-size: 6.8rem;
    font-weight: 700;
}
#ExperienceHeader h2{
    font-size: 3.5rem;
    font-weight: 700;
}
#TextContainer{
    padding: 5% 10%;
}
.txtWithLine{
    @include AlignCenter();
    margin: 0.5% 0;
}
.line{
    width: 90%;
    height: 3px;
    background-color: #E1FF01;
    margin-left: auto;
    margin-right: 0;
}
#txt{
    margin: 2% 0;
    @include AlignCenter();
}
#txt p{
    font-size: 20px;
}
#txt h2{
    margin-bottom: 1%;
}
.rightTxt{
    margin-left: auto;
    margin-right: 0;
}
@media (max-width: 640px) {
    #ExperienceHeader h1{
        font-size: 3rem;
        font-weight: 700;
    }
    #ExperienceHeader h2{
        font-size: 2.3rem;
        font-weight: 700;
    }
    #TextContainer{
        padding: 5%;
    }
    .line{
        width: 64%;
        height: 3px;
        background-color: #E1FF01;
        margin-left: auto;
        margin-right: 0;
    }
    #txt{
        margin: 8% 0;
        @include AlignCenter();
    }
    #txt p{
        font-size: 16px;
    }
    #txt h2{
        margin-bottom: 1%;
    }
    #txt h2{
        margin-bottom: 1%;
        font-size: 1.8rem
    }
}
// ==============================
// Experience Section Styling End
// ==============================



// =============================
// Contact Section Styling Start
// =============================
#ContactContainer{
    @include CenteringItems();
    padding: 5rem 0;
}
#contact{
    font-size: 6.8rem;
    font-weight: 700;
    margin-bottom: -1.5rem;
}
#txtBlock h1{
    font-size: 6.8rem;
    font-weight: 700;
}
#itemsBelowContact{
    @include AlignCenter();
}
#text p{
    font-size: 2rem;
}
#text a{
    font-size: 2rem;
}
@media (max-width: 640px) {
    #txtBlock h1{
        font-size: 3rem;
        font-weight: 700;
    }
    #itemsBelowContact{
        @include AlignCenter();
        display: block;
    }
    #ContactContainer{
        @include CenteringItems();
        padding: 2rem 2rem;
    }
    #contact{
        // font-size: 6.8rem;
        // font-weight: 700;
        margin-bottom: -0.6rem;
    }
}
// ===========================
// Contact Section Styling End
// ===========================